<div style="margin: 10px;padding: 25px; border: 1px solid silver;">
  <section>
    <h2>Greg Doud</h2>
    <address class="font-italic">
      {{name}} | {{address}} | {{city}}, {{state}} {{zip}} | {{phone}} | {{email}}<br>
    </address>
    <hr>
    <h4>Technologies</h4>
    <div class="container">
      <div class="row">
        <div class="col-sm">*{{tech[0]}}</div>
        <div class="col-sm">*{{tech[1]}}</div>
        <div class="col-sm">*{{tech[2]}}</div>
        </div>
      <div class="row">
        <div class="col-sm">*{{tech[3]}}</div>
        <div class="col-sm">*{{tech[4]}}</div>
        <div class="col-sm">*{{tech[5]}}</div>
        </div>
      <div class="row">
        <div class="col-sm">*{{tech[6]}}</div>
        <div class="col-sm">*{{tech[7]}}</div>
        <div class="col-sm">*{{tech[8]}}</div>
        </div>
    </div>
  </section>
  <section>
    <hr>
    <h4>Work Experience</h4>
    <ul>
      <li>
        <p>{{jobs[0].company}} / <span class="font-italic">{{jobs[0].title}}</span> / {{jobs[0].duration}}</p>
        <p>{{jobs[0].value}}</p>
      </li>
      <li>
        <p>{{jobs[1].company}} / <span class="font-italic">{{jobs[1].title}}</span> / {{jobs[1].duration}}</p>
        <p>{{jobs[1].value}}</p>
      </li>
    </ul>
  </section>
  <section>
    <hr>
    <h4>Education</h4>
    <ul>
      <li>{{schools[0].school}} / {{schools[0].degree}} / {{schools[0].year}}</li>
      <li>{{schools[1].school}} / {{schools[1].degree}} / {{schools[1].year}}</li>
    </ul>
  </section>
</div>